.background{
  background-color: #000000;
  min-height: 100vh;
}

h1 {
  color: #FF7B7B;
  font-family: fantasy;
  font-size: 88px;
  text-align: center;
  line-height: 88px;
}

.navButton {
  background-color: #ddd;
  border: 8px solid #FF7B7B;
  border-radius: 15px;
  height: 250px;
  width: 300px;
  margin: 20px;
  font-size: 40px;
  font-family:'Franklin Gothic Medium';
}

img {
  border: 8px solid #FF7B7B;
  border-radius: 15px;
  height: 250px;
  width: 300px;
  margin: 20px 0px;
}