<div class="row bg align-items-center">
  <div class="col-4 col-md-2">
    <div class="row">
      <div class="col-12 col-md-5 text-center">
        <button mat-raised-button color="primary" (click)="goBack()">
          Back
        </button>
      </div>
      <div class="col-12 col-md-5 text-center" *ngIf="createAvailable">
        <button
          mat-mini-fab
          color="accent"
          aria-label="Delete source"
          (click)="createFunction()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <h1>{{ title }}</h1>
  </div>
</div>
