<div
  class="row mx-2 my-1 align-items-center border border-dark bg-secondary entry"
  *ngFor="let spell of this.spells; let index = index"
>
  <div class="col-6 fs-6" (click)="this.navigate(spell.spellId)">
    {{ spell.spellName }}
  </div>
  <div class="col-3 fs-6" (click)="this.navigate(spell.spellId)">
    {{ spell.school }}
  </div>
  <div
    class="col-2 fs-6 d-none d-md-block"
    (click)="this.navigate(spell.spellId)"
  >
    {{ spell.castingTime }}
  </div>
  <div class="col-1" *ngIf="spell.spellId !== -1">
    <button
      mat-mini-fab
      color="warn"
      aria-label="Delete spell"
      (click)="deleteSpell(spell.spellId)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
